# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/extern/d3d9/lib_x86/*.lib
!/extern/d3d9/lib_x64/*.lib

# Executables
*.exe
*.out
*.app

# Project folders
/.vs_proj
/build/*
!/build/.gitkeep

# Debug symbols
*.pdb

# Config/Log files
*.cfg
*.ini
*.log